# MODULE 22 - BIG DATA ANALYSIS WITH SPARK

Step 00 - Environment Setup

In [21]:
#
# Step 00 - Environment Setup
#

import sys
import os
import shutil          as shu
import datetime
import warnings   
import findspark    
from   colorama    import Fore                       
from   pyspark     import SparkFiles  
from   pyspark.sql import SparkSession

start_time = datetime.datetime.now()
w, h       = shu.get_terminal_size()

def logStep(msg):
    l1 = len(msg)
    l2 = w - l1
    print(Fore.WHITE + str(datetime.datetime.now()) +  Fore.YELLOW + ' STEP ' + msg + Fore.WHITE + '-' * l2  )
    sys.stdout.flush()

logStep('00 - ENVIRONMENT PREPARATION')
warnings.filterwarnings('ignore')
findspark.init()
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

def spark_SQL_Run(step_Number, step_Message1, sql_Statement):
  start_time         = datetime.datetime.now()
  logStep(step_Number + ' - ' + step_Message1)
  print()
  try:
    spark.sql(sql_Statement).show(5)
  except Exception as e:
    logStep(F"{step_Number} - Exception: {e}")
    sys.exit(1)
  else:
    logStep(step_Number + ' - ' + 'Spark SQL Statement Executed Successfully')
  logStep(step_Number + ' - ' + 'DONE')
  end_time           = datetime.datetime.now()
  step_elapsed_time  = end_time - start_time
  logStep(F"{step_Number} - ELAPSED TIME: {step_elapsed_time} seconds")
  return step_elapsed_time

def runtime_Diff(step_Number, step_Message1,base_SQL, cached_SQL):
  start_time          = datetime.datetime.now()
  logStep(step_Number + " - RUNTIME DIFFERENCE")
  time_difference     = base_SQL - cached_SQL
  logStep(F"{step_Number} - Time required for a non-cached Query : {base_SQL}")
  logStep(F"{step_Number} - Time required for a cached/part Query: {cached_SQL}")
  logStep(F"{step_Number} - Time difference                      : {time_difference}")
  logStep(step_Number + " - DONE")
  end_time            = datetime.datetime.now()
  step_elapsed_time   = end_time - start_time
  logStep(F"{step_Number} - ELAPSED TIME: {step_elapsed_time} seconds")
  return step_elapsed_time

print(F'Copyright        : {sys.copyright}')
print(F'OS Platform      : {sys.platform}')
print(F'OS Name          : {os.name}')
print(F'OS HOME          : {os.environ.get("HOME")}')
print(F'OS uName         : {os.uname().sysname}')
print(F'OS NodeName      : {os.uname().nodename}')
print(F'OS Release       : {os.uname().release}')
print(F'OS Release Ver   : {os.uname().version}')
print(F'OS Machine       : {os.uname().machine}')
print(F'Process ID       : {os.getpid()}')
print(F'Parent Process   : {os.getppid()}')
print(F'OS User          : {os.getlogin()}')
print(F'OS User ID       : {os.getuid()}')
print(F'OS Group ID      : {os.getgid()}')
print(F'OS Effective ID  : {os.geteuid()}')
print(F'OS Effective GID : {os.getegid()}')
print(F'Current dir      : {os.getcwd()}')
print(F'Python version   : {sys.version}')
print(F'Version info     : {sys.version_info}')
print(F'Python API Ver   : {sys.api_version}')
print(F'Executable       : {sys.executable}')
print(F'Hadoop home      : {os.environ.get("HADOOP_HOME")}')
print(F'Spark version    : {findspark.__version__}')
print(F'Spark home(Find) : {findspark.find()}')
print(F'Spark Home(Env)  : {os.environ.get("SPARK_HOME")}')
print(F'Spark UI         : http://localhost:4040')
print(F'Spark submit     : {sys.argv[0]}')
print(F'Java home        : {os.environ.get("JAVA_HOME")}')

logStep("00 - DONE");
end_time            = datetime.datetime.now()
step00_elapsed_time = end_time - start_time
logStep(F"00 - ELAPSED TIME: {step00_elapsed_time} seconds")

2023-09-06 16:39:57.486601 STEP 00 - ENVIRONMENT PREPARATION----------------------------------------------------
Copyright        : Copyright (c) 2001-2023 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.
OS Platform      : darwin
OS Name          : posix
OS HOME          : /Users/eneas
OS uName         : Darwin
OS NodeName      : MBPJES14M2.local
OS Release       : 23.0.0
OS Release Ver   : Darwin Kernel Version 23.0.0: Tue Aug 22 02:11:55 PDT 2023; root:xnu-10002.1.11~16/RELEASE_ARM64_T6020
OS Machine       : arm64
Process ID       : 2138
Parent Process   : 1334
OS User          : root
OS User ID       : 501
OS Group ID      : 20
OS Effective ID  : 501
OS Effective GID : 20
Current dir      : /Users/eneas/Documents/GitHub/RB_Module_22_Big_Data_Challenge
Python version   : 3.11.5 | packaged by conda-forge | (main, Aug 27 2023, 03:33:12) [Clang 15.0.7 ]
Version info     : sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)
Python API Ver   : 1013
Executable       : /Users/eneas/anaconda3/envs/myDev/bin/python
Hadoop home      : None
Spark version    : 2.0.1
Spark home(Find) : /Users/eneas/anaconda3/envs/myDev/lib/python3.11/site-packages/pyspark
Spark Home(Env)  : /Users/eneas/anaconda3/envs/myDev/lib/python3.11/site-packages/pyspark
Spark UI         : http://localhost:4040
Spark submit     : /Users/eneas/anaconda3/envs/myDev/lib/python3.11/site-packages/ipykernel_launcher.py
Java home        : /Users/eneas/anaconda3/envs/myDev
2023-09-06 16:39:57.492417 STEP 00 - DONE-----------------------------------------------------------------------
2023-09-06 16:39:57.492705 STEP 00 - ELAPSED TIME: 0:00:00.006233 seconds---------------------------------------

Step 01 - Read in the source file into a DataFrame

In [2]:
#
# Step 01 - Read in the source file into a DataFrame.
#

start_time = datetime.datetime.now()
logStep("01 - READ SOURCE DATA");

try:

  url   = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
  spark.sparkContext.addFile(url)
  home_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True)
  home_df.show(5)
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("01 - Spark operation - Source data read successfully")

logStep("01 - DONE");
end_time           = datetime.datetime.now()
step01_elapsed_time = end_time - start_time
logStep(F"01 - ELAPSED TIME: {step01_elapsed_time} seconds")

2023-09-06 16:36:17.711430 STEP 01 - READ SOURCE DATA-----------------------------------------------------------
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

2023-09-06 16:36:20.974130 STEP 01 - Spark operation - Source data read successfully----------------------------
2023-09-06 16:36:20.974547 STEP 01 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:20.974849 STEP 01 - ELAPSED TIME: 0:00:03.263394 seconds---------------------------------------

Step 02 - Create a temporary view of the DataFrame.

In [3]:
#
# Step 02 - Create a temporary view of the DataFrame.
#

start_time         = datetime.datetime.now()
logStep("02 - CREATE A TEMPORARY VIEW")

try:
  home_df.createOrReplaceTempView('home_sales')
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("02 - Spark operation - Temporary view created successfully")

logStep("02 - DONE")
end_time           = datetime.datetime.now()
step02_elapsed_time = end_time - start_time
logStep(F"02 - ELAPSED TIME: {step02_elapsed_time} seconds")

2023-09-06 16:36:20.979099 STEP 02 - CREATE A TEMPORARY VIEW----------------------------------------------------
2023-09-06 16:36:20.999770 STEP 02 - Spark operation - Temporary view created successfully----------------------
2023-09-06 16:36:21.000157 STEP 02 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:21.000456 STEP 02 - ELAPSED TIME: 0:00:00.021336 seconds---------------------------------------

Step 03 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?

In [4]:
# 
# Step 03 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?
#

step03_elapsed_time = spark_SQL_Run("03", "WHAT IS THE AVERAGE PRICE?=4BR", "SELECT YEAR(date) AS YEAR, ROUND(AVG(price),2) AS AVERAGE FROM home_sales WHERE bedrooms == 4 GROUP BY YEAR(date) ORDER BY YEAR(date) DESC")

2023-09-06 16:36:21.004022 STEP 03 - WHAT IS THE AVERAGE PRICE?=4BR---------------------------------------------

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2022|296363.88|
|2021|301819.44|
|2020|298353.78|
|2019| 300263.7|
+----+---------+

2023-09-06 16:36:21.613914 STEP 03 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:21.614274 STEP 03 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:21.614569 STEP 03 - ELAPSED TIME: 0:00:00.610545 seconds---------------------------------------

Step 04 - What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

In [5]:
# 
# Step 04 - What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
#

step04_elapsed_time = spark_SQL_Run("04", "WHAT IS THE AVERAGE PRICE?=3BR/3B", "SELECT date_built AS YEAR , ROUND(AVG(price),2) AS AVERAGE FROM home_sales WHERE bedrooms == 3 AND bathrooms == 3 GROUP BY date_built ORDER BY date_built DESC")

2023-09-06 16:36:21.618880 STEP 04 - WHAT IS THE AVERAGE PRICE?=3BR/3B------------------------------------------

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|292676.79|
|2016|290555.07|
|2015| 288770.3|
|2014|290852.27|
|2013|295962.27|
+----+---------+
only showing top 5 rows

2023-09-06 16:36:21.867108 STEP 04 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:21.867453 STEP 04 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:21.867664 STEP 04 - ELAPSED TIME: 0:00:00.248782 seconds---------------------------------------

Step 05 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors, and are greater than or equal to 2,000 square feet rounded to two decimal places?

In [6]:
#
# Step 05 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
#

step05_elapsed_time = spark_SQL_Run("05", "WHAT IS THE AVERAGE PRICE?=3R/3/2B", "SELECT date_built AS YEAR, ROUND(AVG(price),2) AS AVERAGE FROM home_sales WHERE bedrooms == 3 AND bathrooms == 3 AND floors == 2 AND sqft_living >= 2000 GROUP BY date_built ORDER BY date_built DESC")

2023-09-06 16:36:21.871115 STEP 05 - WHAT IS THE AVERAGE PRICE?=3R/3/2B-----------------------------------------

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|280317.58|
|2016| 293965.1|
|2015|297609.97|
|2014|298264.72|
|2013|303676.79|
+----+---------+
only showing top 5 rows

2023-09-06 16:36:22.049191 STEP 05 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:22.049626 STEP 05 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.049897 STEP 05 - ELAPSED TIME: 0:00:00.178775 seconds---------------------------------------

Step 06 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.

In [7]:
# 
# Ste 06 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.
#

step06_elapsed_time = spark_SQL_Run("06", "WHAT IS THE AVERAGE PRICE?=300K", "SELECT view AS VIEW, ROUND(AVG(price),2) AS AVERAGE FROM home_sales GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view DESC")

2023-09-06 16:36:22.054517 STEP 06 - WHAT IS THE AVERAGE PRICE?=300K--------------------------------------------

+----+----------+
|VIEW|   AVERAGE|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
+----+----------+
only showing top 5 rows

2023-09-06 16:36:22.249768 STEP 06 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:22.250135 STEP 06 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.250376 STEP 06 - ELAPSED TIME: 0:00:00.195854 seconds---------------------------------------

Step 07 - Cache the the temporary table home_sales.

In [8]:
# 
# Step 07 - Cache the the temporary table home_sales.
#

start_time         = datetime.datetime.now()
logStep("07 - CACHE HOME DATA")

try:
  spark.sql("cache table home_sales")
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1) 
else:
  logStep("07 - Spark operation - Cache executed successfully")

end_time           = datetime.datetime.now()
logStep("07 - DONE")
step07_elapsed_time = end_time - start_time
logStep(F"07 - ELAPSED TIME: {step07_elapsed_time} seconds")

2023-09-06 16:36:22.255095 STEP 07 - CACHE HOME DATA------------------------------------------------------------
2023-09-06 16:36:22.596281 STEP 07 - Spark operation - Cache executed successfully------------------------------
2023-09-06 16:36:22.596750 STEP 07 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.597067 STEP 07 - ELAPSED TIME: 0:00:00.341649 seconds---------------------------------------

Step 08 - Check if the table is cached.

In [9]:
# 
# Step 08 - Check if the table is cached.
#

start_time         = datetime.datetime.now()
logStep("08 - IS THE DATA CACHED?")

try:
  if (spark.catalog.isCached('home_sales') == False):
    logStep("08 - home_sales is not cached")
  else:
    logStep("08 - home_sales is cached")
except Exception as e:
    logStep(F"Exception: {e}")
    sys.exit(1)
else:
    logStep("08 - Spark operation - Cache check executed successfully")

end_time           = datetime.datetime.now()
logStep("08 - DONE")
step08_elapsed_time = end_time - start_time
logStep(F"08 - ELAPSED TIME: {step08_elapsed_time} seconds")

2023-09-06 16:36:22.600958 STEP 08 - IS THE DATA CACHED?--------------------------------------------------------
2023-09-06 16:36:22.609834 STEP 08 - home_sales is cached-------------------------------------------------------
2023-09-06 16:36:22.610420 STEP 08 - Spark operation - Cache check executed successfully------------------------
2023-09-06 16:36:22.611212 STEP 08 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.612207 STEP 08 - ELAPSED TIME: 0:00:00.010212 seconds---------------------------------------

Step 09 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

In [10]:
# 
# Step 09 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.
#

step09_elapsed_time = spark_SQL_Run("09", "WHAT IS THE AVERAGE PRICE?=300K", "SELECT view AS VIEW, ROUND(AVG(price),2) AS AVERAGE FROM home_sales GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view DESC")

2023-09-06 16:36:22.621377 STEP 09 - WHAT IS THE AVERAGE PRICE?=300K--------------------------------------------

+----+----------+
|VIEW|   AVERAGE|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
+----+----------+
only showing top 5 rows

2023-09-06 16:36:22.736988 STEP 09 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:22.737373 STEP 09 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.737580 STEP 09 - ELAPSED TIME: 0:00:00.116203 seconds---------------------------------------

Step 10 - Determine the runtime and compare to the original runtime

In [11]:
# 
# Step 10 Determine the runtime and compare to the original runtime
#

step10_elapsed_time = runtime_Diff("10", "RUNTIME DIFFERENCE", step06_elapsed_time, step09_elapsed_time)

2023-09-06 16:36:22.741197 STEP 10 - RUNTIME DIFFERENCE---------------------------------------------------------
2023-09-06 16:36:22.741768 STEP 10 - Time required for a non-cached Query : 0:00:00.195854----------------------
2023-09-06 16:36:22.741971 STEP 10 - Time required for a cached/part Query: 0:00:00.116203----------------------
2023-09-06 16:36:22.742166 STEP 10 - Time difference                      : 0:00:00.079651----------------------
2023-09-06 16:36:22.742333 STEP 10 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:22.742501 STEP 10 - ELAPSED TIME: 0:00:00.001303 seconds---------------------------------------

Step 11 - Partition by the "date_built" field on the formatted parquet home sales data

In [12]:
# 
# Step 11 - Partition by the "date_built" field on the formatted parquet home sales data 
#

start_time         = datetime.datetime.now()
logStep("11 - FORMATTED PARQUET")

try:
  home_df.write.parquet('home_parquet', mode='overwrite',partitionBy='date_built')
  home_df.show(5)
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("11 - Spark operation - Parquet file created successfully.")

end_time           = datetime.datetime.now()
logStep("11 - DONE")
step11_elapsed_time = end_time - start_time
logStep(F"11 - ELAPSED TIME: {step11_elapsed_time} seconds")

2023-09-06 16:36:22.746573 STEP 11 - FORMATTED PARQUET----------------------------------------------------------
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

2023-09-06 16:36:23.571055 STEP 11 - Spark operation - Parquet file created successfully.-----------------------
2023-09-06 16:36:23.571492 STEP 11 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.571783 STEP 11 - ELAPSED TIME: 0:00:00.824915 seconds---------------------------------------

Step 12 - Read the parquet formatted data.

In [13]:
# 
# Step 12 - Read the parquet formatted data.
#

start_time         = datetime.datetime.now()
logStep("12 - READ PARQUET")

try:
  parquet_home_df = spark.read.parquet('home_parquet')
  parquet_home_df.show(5)
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("12 - Spark operation - Parquet file read successfully")

end_time           = datetime.datetime.now()
logStep("12 - DONE")
step12_elapsed_time = end_time - start_time
logStep(F"12 - ELAPSED TIME: {step12_elapsed_time} seconds")

2023-09-06 16:36:23.575780 STEP 12 - READ PARQUET---------------------------------------------------------------
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 5 rows

2023-09-06 16:36:23.749558 STEP 12 - Spark operation - Parquet file read successfully---------------------------
2023-09-06 16:36:23.749918 STEP 12 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.750174 STEP 12 - ELAPSED TIME: 0:00:00.174136 seconds---------------------------------------

Step 13 - Create a temporary table for the parquet data.

In [14]:
# 
# Step 13 - Create a temporary table for the parquet data.
#

start_time         = datetime.datetime.now()
logStep("13 - CREATE PARQUET VIEW")

try:
  parquet_home_df.createOrReplaceTempView('parquet_temp_home')
  parquet_home_df.show(5)
except Exception as e:
  print(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("13 - Spark operation - Parquet view created successfully")

end_time           = datetime.datetime.now()
logStep("13 - DONE")
step13_elapsed_time = end_time - start_time
logStep(F"13 - ELAPSED TIME: {step13_elapsed_time} seconds")

2023-09-06 16:36:23.754126 STEP 13 - CREATE PARQUET VIEW--------------------------------------------------------
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 5 rows

2023-09-06 16:36:23.791667 STEP 13 - Spark operation - Parquet view created successfully------------------------
2023-09-06 16:36:23.792070 STEP 13 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.792327 STEP 13 - ELAPSED TIME: 0:00:00.037941 seconds---------------------------------------

Step 14 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places

In [15]:
# 
# Step 14 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places. 
#

step14_elapsed_time = spark_SQL_Run("14", "14 - REPEAT QUERY", "SELECT view AS VIEW, ROUND(AVG(price),2) AS AVERAGE FROM parquet_temp_home GROUP BY view HAVING ROUND(AVG(price),2) >= 350000 ORDER BY view DESC")

2023-09-06 16:36:23.795770 STEP 14 - 14 - REPEAT QUERY----------------------------------------------------------

+----+----------+
|VIEW|   AVERAGE|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
+----+----------+
only showing top 5 rows

2023-09-06 16:36:23.955397 STEP 14 - Spark SQL Statement Executed Successfully----------------------------------
2023-09-06 16:36:23.955697 STEP 14 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.955882 STEP 14 - ELAPSED TIME: 0:00:00.160110 seconds---------------------------------------

Step 15 Determine the runtime and compare to the original runtime

In [16]:
#
# Step 15 - Determine the runtime and compare it to the cached version.
#

step15_elapsed_time = runtime_Diff("15", "RUNTIME DIFFERENCE", step06_elapsed_time, step14_elapsed_time)

2023-09-06 16:36:23.959657 STEP 15 - RUNTIME DIFFERENCE---------------------------------------------------------
2023-09-06 16:36:23.960018 STEP 15 - Time required for a non-cached Query : 0:00:00.195854----------------------
2023-09-06 16:36:23.960232 STEP 15 - Time required for a cached/part Query: 0:00:00.160110----------------------
2023-09-06 16:36:23.960412 STEP 15 - Time difference                      : 0:00:00.035744----------------------
2023-09-06 16:36:23.960592 STEP 15 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.960782 STEP 15 - ELAPSED TIME: 0:00:00.001127 seconds---------------------------------------

Step 16 - Un-cache the home_sales temporary table.

In [17]:
# 
# Step 16 - Un-cache the home_sales temporary table.
#

start_time         = datetime.datetime.now()
logStep("16 - UNCACHE")

try:
  spark.sql("uncache table home_sales")
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("16 - Spark operation - Uncache executed successfully")

end_time           = datetime.datetime.now()
logStep("16 - DONE")
step16_elapsed_time = end_time - start_time
logStep(F"16 - ELAPSED TIME: {step16_elapsed_time} seconds")

2023-09-06 16:36:23.964861 STEP 16 - UNCACHE--------------------------------------------------------------------
2023-09-06 16:36:23.977473 STEP 16 - Spark operation - Uncache executed successfully----------------------------
2023-09-06 16:36:23.978197 STEP 16 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.978512 STEP 16 - ELAPSED TIME: 0:00:00.013329 seconds---------------------------------------

Step 17 - Check if the home_sales is no longer cached

In [18]:
# 
# Step 17 - Check if the home_sales is no longer cached
#
start_time         = datetime.datetime.now()
logStep("17 - CACHE CHECK")

try:
  if (spark.catalog.isCached('home_sales') == False):
      logStep("17 - home_sales is not cached")
  else:
      logStep("17 - home_sales is cached")
except Exception as e:
  logStep(F"Exception: {e}")
  sys.exit(1)
else:
  logStep("17 - Spark operation - Cache check executed successfully")

end_time           = datetime.datetime.now()
logStep("17 - DONE")
step17_elapsed_time = end_time - start_time
logStep(F"17 - ELAPSED TIME: {step17_elapsed_time} seconds")

2023-09-06 16:36:23.982294 STEP 17 - CACHE CHECK----------------------------------------------------------------
2023-09-06 16:36:23.986712 STEP 17 - home_sales is not cached---------------------------------------------------
2023-09-06 16:36:23.988635 STEP 17 - Spark operation - Cache check executed successfully------------------------
2023-09-06 16:36:23.989372 STEP 17 - DONE-----------------------------------------------------------------------
2023-09-06 16:36:23.990092 STEP 17 - ELAPSED TIME: 0:00:00.007076 seconds---------------------------------------

In [19]:
logStep("TOTAL RUN TIME")
logStep(F" 0:   {step00_elapsed_time} seconds")
logStep(F" 1:   {step01_elapsed_time} seconds")
logStep(F" 2:   {step02_elapsed_time} seconds")
logStep(F" 3:   {step03_elapsed_time} seconds")
logStep(F" 4:   {step04_elapsed_time} seconds")
logStep(F" 5:   {step05_elapsed_time} seconds")
logStep(F" 6:   {step06_elapsed_time} seconds - non-cached query")
logStep(F" 7:   {step07_elapsed_time} seconds")
logStep(F" 8:   {step08_elapsed_time} seconds")
logStep(F" 9:   {step09_elapsed_time} seconds - cached query")
logStep(F"10:   {step10_elapsed_time} seconds")
logStep(F"11:   {step11_elapsed_time} seconds")
logStep(F"12:   {step12_elapsed_time} seconds")
logStep(F"13:   {step13_elapsed_time} seconds")
logStep(F"14:   {step14_elapsed_time} seconds - parquet cached query")
logStep(F"15:   {step15_elapsed_time} seconds")
logStep(F"16:   {step16_elapsed_time} seconds")
logStep(F"17:   {step17_elapsed_time} seconds")
logStep(F"TT:   {step00_elapsed_time + step01_elapsed_time + step02_elapsed_time + step03_elapsed_time + step04_elapsed_time + step05_elapsed_time + step06_elapsed_time + step07_elapsed_time + step08_elapsed_time + step09_elapsed_time + step10_elapsed_time + step11_elapsed_time + step12_elapsed_time + step13_elapsed_time + step14_elapsed_time + step15_elapsed_time + step16_elapsed_time + step17_elapsed_time} seconds")
logStep(F'06 Cached Query Reduction  : {100-(step09_elapsed_time/step06_elapsed_time*100):.2f}%')
logStep(F'14 Parquet Query Reduction : {100-(step14_elapsed_time/step06_elapsed_time*100):.2f}%')
logStep("END OF PROGRAM-")

2023-09-06 16:36:23.999642 STEP TOTAL RUN TIME------------------------------------------------------------------
2023-09-06 16:36:24.001315 STEP  0:   0:00:02.396406 seconds----------------------------------------------------
2023-09-06 16:36:24.002319 STEP  1:   0:00:03.263394 seconds----------------------------------------------------
2023-09-06 16:36:24.002630 STEP  2:   0:00:00.021336 seconds----------------------------------------------------
2023-09-06 16:36:24.003109 STEP  3:   0:00:00.610545 seconds----------------------------------------------------
2023-09-06 16:36:24.004342 STEP  4:   0:00:00.248782 seconds----------------------------------------------------
2023-09-06 16:36:24.005067 STEP  5:   0:00:00.178775 seconds----------------------------------------------------
2023-09-06 16:36:24.005778 STEP  6:   0:00:00.195854 seconds - non-cached query---------------------------------
2023-09-06 16:36:24.006213 STEP  7:   0:00:00.341649 seconds----------------------------------------------------
2023-09-06 16:36:24.006520 STEP  8:   0:00:00.010212 seconds----------------------------------------------------
2023-09-06 16:36:24.006767 STEP  9:   0:00:00.116203 seconds - cached query-------------------------------------
2023-09-06 16:36:24.007023 STEP 10:   0:00:00.001303 seconds----------------------------------------------------
2023-09-06 16:36:24.007236 STEP 11:   0:00:00.824915 seconds----------------------------------------------------
2023-09-06 16:36:24.007437 STEP 12:   0:00:00.174136 seconds----------------------------------------------------
2023-09-06 16:36:24.007715 STEP 13:   0:00:00.037941 seconds----------------------------------------------------
2023-09-06 16:36:24.008017 STEP 14:   0:00:00.160110 seconds - parquet cached query-----------------------------
2023-09-06 16:36:24.008201 STEP 15:   0:00:00.001127 seconds----------------------------------------------------
2023-09-06 16:36:24.008403 STEP 16:   0:00:00.013329 seconds----------------------------------------------------
2023-09-06 16:36:24.008650 STEP 17:   0:00:00.007076 seconds----------------------------------------------------
2023-09-06 16:36:24.008876 STEP TT:   0:00:08.603093 seconds----------------------------------------------------
2023-09-06 16:36:24.009084 STEP 06 Cached Query Reduction  : 40.67%---------------------------------------------
2023-09-06 16:36:24.009314 STEP 14 Parquet Query Reduction : 18.25%---------------------------------------------
2023-09-06 16:36:24.009512 STEP END OF PROGRAM------------------------------------------------------------------