# MODULE 22 - BIG DATA ANALYSIS WITH SPARK

Step 0 - Environment Setup

In [1]:
#
# Step 0 - Environment Setup
#

import sys
import os
from   colorama import Fore
import datetime

start_time = datetime.datetime.now()

def logStep(msg):
    print(Fore.WHITE + str(datetime.datetime.now()) + ' ' + Fore.YELLOW + msg + Fore.WHITE)
    sys.stdout.flush()
    
logStep('STEP 0 - ENVIRONMENT PREPARATION======================')

import warnings   
import findspark                           
from   pyspark     import SparkFiles  
from   pyspark.sql import SparkSession
warnings.filterwarnings('ignore')

print(Fore.GREEN)
print(F'Copyright        : {sys.copyright}')
print(F'OS Platform      : {sys.platform}')
print(F'OS Name          : {os.name}')
print(F'OS HOME          : {os.environ.get("HOME")}')
print(F'OS uName         : {os.uname().sysname}')
print(F'OS NodeName      : {os.uname().nodename}')
print(F'OS Release       : {os.uname().release}')
print(F'OS Release Ver   : {os.uname().version}')
print(F'OS Machine       : {os.uname().machine}')
print(F'Process ID       : {os.getpid()}')
print(F'Parent Process   : {os.getppid()}')
print(F'OS User          : {os.getlogin()}')
print(F'OS User ID       : {os.getuid()}')
print(F'OS Group ID      : {os.getgid()}')
print(F'OS Effective ID  : {os.geteuid()}')
print(F'OS Effective GID : {os.getegid()}')
print(F'Current dir      : {os.getcwd()}')
print(F'Python version   : {sys.version}')
print(F'Version info     : {sys.version_info}')
print(F'Python API Ver   : {sys.api_version}')
print(F'Executable       : {sys.executable}')
print(F'Hadoop home      : {os.environ.get("HADOOP_HOME")}')
print(F'Spark version    : {findspark.__version__}')
print(F'Spark home(Find) : {findspark.find()}')
print(F'Spark Home(Env)  : {os.environ.get("SPARK_HOME")}')
print(F'Spark UI         : http://localhost:4040')
print(F'Spark submit     : {sys.argv[0]}')
print(F'Java home        : {os.environ.get("JAVA_HOME")}')
print()

logStep("STEP 0 - DONE=========================================");
end_time           = datetime.datetime.now()
step0_elapsed_time = end_time - start_time
logStep(F"STEP 0 - ELAPSED TIME: {step0_elapsed_time} seconds=========")

2023-09-05 15:11:36.977108 STEP 0 - ENVIRONMENT PREPARATION======================

Copyright        : Copyright (c) 2001-2023 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.
OS Platform      : darwin
OS Name          : posix
OS HOME          : /Users/eneas
OS uName         : Darwin
OS NodeName      : MBPJES14M2.local
OS Release       : 23.0.0
OS Release Ver   : Darwin Kernel Version 23.0.0: Tue Aug 22 02:11:55 PDT 2023; root:xnu-10002.1.11~16/RELEASE_ARM64_T6020
OS Machine       : arm64
Process ID       : 5342
Parent Process   : 1765
OS User          : root
OS User ID       : 501
OS Group ID      : 20
OS Effective ID  : 501
OS Effective GID : 20
Current dir      : /Users/eneas/Documents/GitHub/RB_Module_22_Big_Data_Challenge
Python version   : 3.11.5 | packaged by conda-forge | (main, Aug 27 2023, 03:33:12) [Clang 15.0.7 ]
Version info     : sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)
Python API Ver   : 1013
Executable       : /Users/eneas/anaconda3/envs/myProd/bin/python
Hadoop home      : None
Spark version    : 2.0.1
Spark home(Find) : /Users/eneas/anaconda3/envs/myProd/lib/python3.11/site-packages/pyspark
Spark Home(Env)  : None
Spark UI         : http://localhost:4040
Spark submit     : /Users/eneas/anaconda3/envs/myProd/lib/python3.11/site-packages/ipykernel_launcher.py
Java home        : /Users/eneas/anaconda3/envs/myProd

2023-09-05 15:11:37.087107 STEP 0 - DONE=========================================
2023-09-05 15:11:37.088063 STEP 0 - ELAPSED TIME: 0:00:00.110893 seconds=========

Step 1 - Read in the source file into a DataFrame

In [20]:
#
# Step 1 - Read in the source file into a DataFrame.
#

start_time = datetime.datetime.now()
logStep("STEP 1 - READ SOURCE DATA=============================");

print(Fore.GREEN)
try:
  findspark.init()
  spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
  spark.sparkContext.setLogLevel("ERROR")
  url   = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
  spark.sparkContext.addFile(url)
  home_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True)
  home_df.show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 1 - Spark operation - Source data read successfully.")
  print()

logStep("STEP 1 - DONE=========================================");
end_time           = datetime.datetime.now()
step1_elapsed_time = end_time - start_time
logStep(F"STEP 1 - ELAPSED TIME: {step1_elapsed_time} seconds=========")

2023-09-05 15:14:22.368154 STEP 1 - READ SOURCE DATA=============================

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Step 1 - Spark operation - Source data read successfully.

2023-09-05 15:14:22.462732 STEP 1 - DONE=========================================
2023-09-05 15:14:22.463189 STEP 1 - ELAPSED TIME: 0:00:00.095013 seconds=========

Step 2 - Create a temporary view of the DataFrame.

In [3]:
#
# Step 2 - Create a temporary view of the DataFrame.
#

start_time         = datetime.datetime.now()
logStep("STEP 2 - CREATE A TEMPORARY VIEW======================")

print(Fore.GREEN)
try:
  home_df.createOrReplaceTempView('home_sales')
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 2 - Spark operation - Temporary view created successfully.")
  print()

logStep("STEP 2 - DONE=========================================")
end_time           = datetime.datetime.now()
step2_elapsed_time = end_time - start_time
logStep(F"STEP 2 - ELAPSED TIME: {step2_elapsed_time} seconds=========")

2023-09-05 15:11:41.795955 STEP 2 - CREATE A TEMPORARY VIEW======================

Step 2 - Spark operation - Temporary view created successfully.

2023-09-05 15:11:41.813994 STEP 2 - DONE=========================================
2023-09-05 15:11:41.814333 STEP 2 - ELAPSED TIME: 0:00:00.018361 seconds=========

Step 3 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?

In [4]:
# 
# Step 3 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 3 - WHAT IS THE AVERAGE PRICE?=4BR===============")

print(Fore.GREEN)
try:
  spark.sql("SELECT YEAR(date)          as YEAR, \
                  ROUND(AVG(price),2) as AVERAGE \
             FROM home_sales WHERE bedrooms == 4 \
                  GROUP BY YEAR(date) \
                  ORDER BY YEAR(date) desc").show()
except Exception as e:
     print(Fore.RED + F"Exception: {e}")
     sys.exit(1)
else:
     print(Fore.GREEN + "Step 3 - Spark operation - Query executed successfully.")
     print()
     
logStep("STEP 3 - DONE=========================================")
end_time           = datetime.datetime.now()
step3_elapsed_time = end_time - start_time
logStep(F"STEP 3 - ELAPSED TIME: {step3_elapsed_time} seconds=========")

2023-09-05 15:11:41.818778 STEP 3 - WHAT IS THE AVERAGE PRICE?=4BR===============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2022|296363.88|
|2021|301819.44|
|2020|298353.78|
|2019| 300263.7|
+----+---------+

Step 3 - Spark operation - Query executed successfully.

2023-09-05 15:11:42.424221 STEP 3 - DONE=========================================
2023-09-05 15:11:42.424578 STEP 3 - ELAPSED TIME: 0:00:00.605779 seconds=========

Set 4 - What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

In [5]:
# 
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 4 - WHAT IS THE AVERAGE PRICE?=3BR/3B============")

print(Fore.GREEN)
try:
  spark.sql("SELECT date_built as YEAR , \
                    ROUND(AVG(price),2) as AVERAGE  \
               FROM home_sales WHERE bedrooms == 3 AND \
                                     bathrooms == 3 \
                    GROUP BY date_built \
                    ORDER BY date_built desc").show()    
except Exception as e:
     print(Fore.RED + F"Exception: {e}")
     sys.exit(1)
else:
     print(Fore.GREEN + "Step 4 - Spark operation - Query executed successfully.")
     print()

end_time           = datetime.datetime.now()
logStep("STEP 4 - DONE=========================================")
step4_elapsed_time = end_time - start_time
logStep(F"STEP 4 - ELAPSED TIME: {step4_elapsed_time} seconds=========")

2023-09-05 15:11:42.428876 STEP 4 - WHAT IS THE AVERAGE PRICE?=3BR/3B============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|292676.79|
|2016|290555.07|
|2015| 288770.3|
|2014|290852.27|
|2013|295962.27|
|2012|293683.19|
|2011|291117.47|
|2010|292859.62|
+----+---------+

Step 4 - Spark operation - Query executed successfully.

2023-09-05 15:11:42.643897 STEP 4 - DONE=========================================
2023-09-05 15:11:42.644454 STEP 4 - ELAPSED TIME: 0:00:00.215014 seconds=========

Step 5 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors, and are greater than or equal to 2,000 square feet rounded to two decimal places?

In [6]:
#
# Step 5 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 5 - WHAT IS THE AVERAGE PRICE?=3R/3/2============")

print(Fore.GREEN)
try:
  spark.sql("SELECT date_built as YEAR, \
           ROUND(AVG(price),2) as AVERAGE from home_sales \
           where bedrooms  == 3 AND \
                 bathrooms == 3 AND \
                    floors == 2 AND \
               sqft_living >= 2000 \
                 group by date_built \
                 order by date_built desc").show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 5 - Spark operation - Query executed successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 5 - DONE=========================================")
step5_elapsed_time = end_time - start_time
logStep(F"STEP 5 - ELAPSED TIME: {step5_elapsed_time} seconds=========")

2023-09-05 15:11:42.648828 STEP 5 - WHAT IS THE AVERAGE PRICE?=3R/3/2============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|280317.58|
|2016| 293965.1|
|2015|297609.97|
|2014|298264.72|
|2013|303676.79|
|2012|307539.97|
|2011|276553.81|
|2010|285010.22|
+----+---------+

Step 5 - Spark operation - Query executed successfully.

2023-09-05 15:11:42.807205 STEP 5 - DONE=========================================
2023-09-05 15:11:42.807531 STEP 5 - ELAPSED TIME: 0:00:00.158371 seconds=========

Step 6 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.

In [7]:
# 
# Ste 6 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.
#

start_time         = datetime.datetime.now()
logStep("STEP 6 - WHAT IS THE AVERAGE PRICE?=300K==============")

print(Fore.GREEN)
try:
  spark.sql("SELECT view as VIEW, \
                  ROUND(AVG(price),2) AS AVERAGE \
             FROM home_sales \
             GROUP BY view \
           HAVING ROUND(AVG(price),2) >= 350000 \
           ORDER BY view").show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1) 
else:
  print(Fore.GREEN + "Step 6 - Spark operation - Query executed successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 6 - DONE=========================================")
step6_elapsed_time = end_time - start_time
logStep(F"STEP 6 - ELAPSED TIME: {step6_elapsed_time} seconds=========")

2023-09-05 15:11:42.811509 STEP 6 - WHAT IS THE AVERAGE PRICE?=300K==============

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

Step 6 - Spark operation - Query executed successfully.

2023-09-05 15:11:43.002294 STEP 6 - DONE=========================================
2023-09-05 15:11:43.002668 STEP 6 - ELAPSED TIME: 0:00:00.190776 seconds=========

Step 7 - Cache the the temporary table home_sales.

In [8]:
# 
# Step 7 - Cache the the temporary table home_sales.
#

start_time         = datetime.datetime.now()
logStep("STEP 7 - CACHE HOME DATA==============================")

print(Fore.GREEN)
try:
  spark.sql("cache table home_sales")
except Exception as e:
    print(Fore.RED + F"Exception: {e}")
    sys.exit(1) 
else:
    print(Fore.GREEN + "Step 7 - Spark operation - Cache executed successfully.")
    print()
    
end_time           = datetime.datetime.now()
logStep("STEP 7 - DONE=========================================")
step7_elapsed_time = end_time - start_time
logStep(F"STEP 7 - ELAPSED TIME: {step7_elapsed_time} seconds=========")

2023-09-05 15:11:43.006836 STEP 7 - CACHE HOME DATA==============================

Step 7 - Spark operation - Cache executed successfully.

2023-09-05 15:11:43.348138 STEP 7 - DONE=========================================
2023-09-05 15:11:43.348516 STEP 7 - ELAPSED TIME: 0:00:00.341298 seconds=========

Step 8 - Check if the table is cached.

In [9]:
# 
# Step 8 - Check if the table is cached.
#

start_time         = datetime.datetime.now()
logStep("STEP 8 - IS THE DATA CACHED===========================")

print(Fore.GREEN)
try:
  if (spark.catalog.isCached('home_sales') == False):
    print("home_sales is not cached")
  else:
    print("home_sales is cached")
except Exception as e:
    print(Fore.RED + F"Exception: {e}")
    sys.exit(1)
else:
    print(Fore.GREEN + "Step 8 - Spark operation - Cache check executed successfully.")
    print()

end_time           = datetime.datetime.now()
logStep("STEP 8 - DONE=========================================")
step8_elapsed_time = end_time - start_time
logStep(F"STEP 8 - ELAPSED TIME: {step8_elapsed_time} seconds=========")

2023-09-05 15:11:43.352572 STEP 8 - IS THE DATA CACHED===========================

home_sales is cached
Step 8 - Spark operation - Cache check executed successfully.

2023-09-05 15:11:43.358710 STEP 8 - DONE=========================================
2023-09-05 15:11:43.358991 STEP 8 - ELAPSED TIME: 0:00:00.006130 seconds=========

Step 9 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

In [10]:
# 
# Step 9 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.
#

start_time         = datetime.datetime.now()
logStep("STEP 9 - REPEAT QUERY=================================")

print(Fore.GREEN)
try:
  spark.sql("SELECT view as VIEW, \
                    ROUND(AVG(price),2) AS AVERAGE \
               FROM home_sales \
               GROUP BY view \
             HAVING ROUND(AVG(price),2) >= 350000 \
             ORDER BY view").show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 9 - Spark operation - Query executed successfully.")
  print() 
  
end_time           = datetime.datetime.now()
logStep("STEP 9 - DONE=========================================")
step9_elapsed_time = end_time - start_time
logStep(F"STEP 9 - ELAPSED TIME: {step9_elapsed_time} seconds=========")

2023-09-05 15:11:43.362915 STEP 9 - REPEAT QUERY=================================

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

Step 9 - Spark operation - Query executed successfully.

2023-09-05 15:11:43.463483 STEP 9 - DONE=========================================
2023-09-05 15:11:43.464581 STEP 9 - ELAPSED TIME: 0:00:00.100561 seconds=========

Step 9.1 - Determine the runtime and compare to the original runtime

In [11]:
# 
# Step 9.1 Determine the runtime and compare to the original runtime
#

start_time         = datetime.datetime.now()
logStep("STEP 9.1 - RUNTIME DIFFERENCE =========================")

print(Fore.GREEN)
print(F"Time required for a non-cached Query: {step6_elapsed_time}")
print(F"Time required for a cached Query    : {step9_elapsed_time}")
time_difference = step6_elapsed_time - step9_elapsed_time
print(F"Time difference                     : {time_difference}")
print(Fore.GREEN)

end_time           = datetime.datetime.now()
logStep("STEP 9.1 - DONE========================================")
step91_elapsed_time = end_time - start_time
logStep(F"STEP 9.1 - ELAPSED TIME: {step91_elapsed_time} seconds========")

2023-09-05 15:11:43.469487 STEP 9.1 - RUNTIME DIFFERENCE =========================

Time required for a non-cached Query: 0:00:00.190776
Time required for a cached Query    : 0:00:00.100561
Time difference                     : 0:00:00.090215

2023-09-05 15:11:43.470579 STEP 9.1 - DONE========================================
2023-09-05 15:11:43.471106 STEP 9.1 - ELAPSED TIME: 0:00:00.001097 seconds========

Step 10 - Partition by the "date_built" field on the formatted parquet home sales data

In [12]:
# 
# Step 10 - Partition by the "date_built" field on the formatted parquet home sales data 
#

start_time         = datetime.datetime.now()
logStep("STEP 10 - FORMATTED PARQUET============================")

print(Fore.GREEN)
try:
  home_df.write.parquet('home_parquet', mode='overwrite',partitionBy='date_built')
  home_df.show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 10 - Spark operation - Parquet file created successfully.")
  print()   

end_time           = datetime.datetime.now()
logStep("STEP 10 - DONE=========================================")
step10_elapsed_time = end_time - start_time
logStep(F"STEP 10 - ELAPSED TIME: {step10_elapsed_time} seconds=========")

2023-09-05 15:11:43.476915 STEP 10 - FORMATTED PARQUET============================

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

Step 10 - Spark operation - Parquet file created successfully.

2023-09-05 15:11:44.278261 STEP 10 - DONE=========================================
2023-09-05 15:11:44.278653 STEP 10 - ELAPSED TIME: 0:00:00.801336 seconds=========

Step 11 - Read the parquet formatted data.

In [13]:
# 
# Step 11 - Read the parquet formatted data.
#

start_time         = datetime.datetime.now()
logStep("STEP 11 - READ PARQUET=================================")

print(Fore.GREEN)
try:
  parquet_home_df = spark.read.parquet('home_parquet')
  parquet_home_df.show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 11 - Spark operation - Parquet file read successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 11 - DONE=========================================")
step11_elapsed_time = end_time - start_time
logStep(F"STEP 11 - ELAPSED TIME: {step11_elapsed_time} seconds=========")

2023-09-05 15:11:44.282849 STEP 11 - READ PARQUET=================================

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

Step 11 - Spark operation - Parquet file read successfully.

2023-09-05 15:11:44.434763 STEP 11 - DONE=========================================
2023-09-05 15:11:44.435109 STEP 11 - ELAPSED TIME: 0:00:00.151905 seconds=========

Step 12 - Create a temporary table for the parquet data.

In [14]:
# 
# Step 12 - Create a temporary table for the parquet data.
#

start_time         = datetime.datetime.now()
logStep("STEP 12 - CREATE PARQUET VIEW==========================")

print(Fore.GREEN)
try:
  parquet_home_df.createOrReplaceTempView('parquet_temp_home')
  parquet_home_df.show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 12 - Spark operation - Parquet view created successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 12 - DONE=========================================")
step12_elapsed_time = end_time - start_time
logStep(F"STEP 12 - ELAPSED TIME: {step12_elapsed_time} seconds=========")

2023-09-05 15:11:44.439239 STEP 12 - CREATE PARQUET VIEW==========================

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

Step 12 - Spark operation - Parquet view created successfully.

2023-09-05 15:11:44.480189 STEP 12 - DONE=========================================
2023-09-05 15:11:44.480504 STEP 12 - ELAPSED TIME: 0:00:00.040940 seconds=========

Step 13 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places

In [15]:
# 
# Step 13 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places. 
#

start_time         = datetime.datetime.now()
logStep("STEP 13 - REPEAT QUERY=================================")

print(Fore.GREEN)
try:
  spark.sql("SELECT view as VIEW, \
                    ROUND(AVG(price),2) AS AVERAGE \
               FROM parquet_temp_home \
               GROUP BY view \
             HAVING ROUND(AVG(price),2) >= 350000 \
             ORDER BY view").show()
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 13 - Spark operation - Parquet query executed successfully.")
  print()
  
end_time           = datetime.datetime.now()
logStep("STEP 13 - DONE=========================================")
step13_elapsed_time = end_time - start_time
logStep(F"STEP 13 - ELAPSED TIME: {step13_elapsed_time} seconds=========")

2023-09-05 15:11:44.484548 STEP 13 - REPEAT QUERY=================================

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

Step 13 - Spark operation - Parquet query executed successfully.

2023-09-05 15:11:44.654001 STEP 13 - DONE=========================================
2023-09-05 15:11:44.654311 STEP 13 - ELAPSED TIME: 0:00:00.169443 seconds=========


Step 13.1 Determine the runtime and compare to the original runtime

In [16]:
#
# Step 13.1 - Determine the runtime and compare it to the cached version.
#

start_time         = datetime.datetime.now()
logStep("STEP 13.1 - RUNTIME DIFFERENCE ========================")

print(Fore.GREEN)
print(F"Time required for a non-cached Query    : {step6_elapsed_time}")
print(F"Time required for a parquet cached Query: {step13_elapsed_time}")
time_difference = step6_elapsed_time - step13_elapsed_time
print(F"Time difference                         : {time_difference}")
print(Fore.GREEN)

end_time           = datetime.datetime.now()
logStep("STEP 13.1 - DONE=======================================")
step131_elapsed_time = end_time - start_time
logStep(F"STEP 13.1 - ELAPSED TIME: {step131_elapsed_time} seconds=======")

2023-09-05 15:11:44.658133 STEP 13.1 - RUNTIME DIFFERENCE ========================

Time required for a non-cached Query    : 0:00:00.190776
Time required for a parquet cached Query: 0:00:00.169443
Time difference                         : 0:00:00.021333

2023-09-05 15:11:44.658690 STEP 13.1 - DONE=======================================
2023-09-05 15:11:44.658952 STEP 13.1 - ELAPSED TIME: 0:00:00.000563 seconds=======

Step 14 - Un-cache the home_sales temporary table.

In [17]:
# 
# Step 14 - Un-cache the home_sales temporary table.
#

start_time         = datetime.datetime.now()
logStep("STEP 14 - UN-CACHE=====================================")

print(Fore.GREEN)
try:
  spark.sql("uncache table home_sales")
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 14 - Spark operation - Uncache executed successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 14 - DONE=========================================")
step14_elapsed_time = end_time - start_time
logStep(F"STEP 14 - ELAPSED TIME: {step14_elapsed_time} seconds=========")

2023-09-05 15:11:44.662595 STEP 14 - UN-CACHE=====================================

Step 14 - Spark operation - Uncache executed successfully.

2023-09-05 15:11:44.673542 STEP 14 - DONE=========================================
2023-09-05 15:11:44.673933 STEP 14 - ELAPSED TIME: 0:00:00.010939 seconds=========

Step 15 - Check if the home_sales is no longer cached

In [18]:
# 
# Step 15 - Check if the home_sales is no longer cached
#
start_time         = datetime.datetime.now()
logStep("STEP 15 - CACHE= CHECK=================================")

print(Fore.GREEN)
try:
  if (spark.catalog.isCached('home_sales') == False):
      print("home_sales is not cached")
  else:
      print("home_sales is cached")
except Exception as e:
  print(Fore.RED + F"Exception: {e}")
  sys.exit(1)
else:
  print(Fore.GREEN + "Step 15 - Spark operation - Cache check executed successfully.")
  print()

end_time           = datetime.datetime.now()
logStep("STEP 15 - DONE=========================================")
step15_elapsed_time = end_time - start_time
logStep(F"STEP 15 - ELAPSED TIME: {step15_elapsed_time} seconds=========")

2023-09-05 15:11:44.678085 STEP 15 - CACHE= CHECK=================================

home_sales is not cached
Step 15 - Spark operation - Cache check executed successfully.

2023-09-05 15:11:44.680716 STEP 15 - DONE=========================================
2023-09-05 15:11:44.680910 STEP 15 - ELAPSED TIME: 0:00:00.002632 seconds=========

In [19]:
logStep("=========TOTAL RUN TIME================================")
print(Fore.GREEN)
print('Total Runtime, per Step')
print('')
print(F"Step  0:   {step0_elapsed_time} seconds")
print(F"Step  1:   {step1_elapsed_time} seconds")
print(F"Step  2:   {step2_elapsed_time} seconds")
print(F"Step  3:   {step3_elapsed_time} seconds")
print(F"Step  4:   {step4_elapsed_time} seconds")
print(F"Step  5:   {step5_elapsed_time} seconds")
print(F"{Fore.RED}Step  6:   {step6_elapsed_time} seconds - non-cached query{Fore.GREEN}")
print(F"{Fore.GREEN}Step  7:   {step7_elapsed_time} seconds")
print(F"Step  8:   {step8_elapsed_time} seconds")
print(F"{Fore.RED}Step  9:   {step9_elapsed_time} seconds - cached query")
print(F"{Fore.GREEN}Step  9.1: {step91_elapsed_time} seconds")
print(F"Step 10:   {step10_elapsed_time} seconds")
print(F"Step 11:   {step11_elapsed_time} seconds")
print(F"Step 12:   {step12_elapsed_time} seconds")
print(F"{Fore.RED}Step 13:   {step13_elapsed_time} seconds - parquet cached query")
print(F"{Fore.GREEN}Step 13.1: {step131_elapsed_time} seconds")
print(F"Step 14:   {step14_elapsed_time} seconds")
print(F"Step 15:   {step15_elapsed_time} seconds")
print(F"{Fore.YELLOW}Total  :   {step0_elapsed_time + step1_elapsed_time + step2_elapsed_time + step3_elapsed_time + step4_elapsed_time + step5_elapsed_time + step6_elapsed_time + step7_elapsed_time + step8_elapsed_time + step9_elapsed_time + step91_elapsed_time + step10_elapsed_time + step11_elapsed_time + step12_elapsed_time + step13_elapsed_time + step131_elapsed_time + step14_elapsed_time + step15_elapsed_time} seconds")
print('')
print(Fore.GREEN + 'Runtime Reduction')
print('')
print(F'{Fore.RED}Cached Query Reduction  : {100-(step9_elapsed_time/step6_elapsed_time*100):.2f}%')
print(F'Parquet Query Reduction : {100-(step13_elapsed_time/step6_elapsed_time*100):.2f}%')
print('')
logStep("=========END============================================")

2023-09-05 15:11:44.685565 =========TOTAL RUN TIME================================

Total Runtime, per Step

Step  0:   0:00:00.110893 seconds
Step  1:   0:00:04.684461 seconds
Step  2:   0:00:00.018361 seconds
Step  3:   0:00:00.605779 seconds
Step  4:   0:00:00.215014 seconds
Step  5:   0:00:00.158371 seconds
Step  6:   0:00:00.190776 seconds - non-cached query
Step  7:   0:00:00.341298 seconds
Step  8:   0:00:00.006130 seconds
Step  9:   0:00:00.100561 seconds - cached query
Step  9.1: 0:00:00.001097 seconds
Step 10:   0:00:00.801336 seconds
Step 11:   0:00:00.151905 seconds
Step 12:   0:00:00.040940 seconds
Step 13:   0:00:00.169443 seconds - parquet cached query
Step 13.1: 0:00:00.000563 seconds
Step 14:   0:00:00.010939 seconds
Step 15:   0:00:00.002632 seconds
Total  :   0:00:07.610499 seconds

Runtime Reduction

Cached Query Reduction  : 47.29%
Parquet Query Reduction : 11.18%

2023-09-05 15:11:44.686399 =========END============================================