# MODULE 22 - BIG DATA ANALYSIS WITH SPARK

Step 0 - Environment Setup

In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark
!pip install colorama

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:7 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [915 kB]
Hit:8 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,185 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [995 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,251 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,015 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [28.1 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [50.3 kB]
Hit:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:16 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:17 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:18 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [37.3 kB]
Fetched 5,843 kB in 3s (2,234 kB/s)
Reading package lists... Done
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.6

In [3]:
#
# Step 0 - Environment Setup
#
!pip install pyspark

import sys
from   colorama import Fore
import datetime

def logStep(msg):
    print(Fore.WHITE + str(datetime.datetime.now()) + ' ' + Fore.YELLOW + msg + Fore.WHITE)
    sys.stdout.flush()

start_time = datetime.datetime.now()
logStep('STEP 0 - ENVIRONMENT PREPARATION======================')

import warnings
import findspark
from   pyspark     import SparkFiles
from   pyspark.sql import SparkSession

warnings.filterwarnings('ignore')

logStep("STEP 0 - DONE=========================================");
end_time           = datetime.datetime.now()
step0_elapsed_time = end_time - start_time
logStep(F"STEP 0 - ELAPSED TIME: {step0_elapsed_time} seconds=========")

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=eecc61dabd964579e2774cba0cb468f450eb524b756f4d12748bedab2e1572cb
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1
2023-09-04 03:05:50.729402 STEP 0 - ENVIRONMENT PREPARATION======================
2023-09-04 03:05:50.786270 STEP 0 - DONE=========================================
2023-09-04 03:05:50.787657 STEP 0 - ELAPSED TIME: 0:00:00.058191 seconds=========

Step 1 - Read in the source file into a DataFrame

In [4]:
#
# Step 1 - Read in the source file into a DataFrame.
#

start_time = datetime.datetime.now()
logStep("STEP 1 - READ SOURCE DATA=============================");
print(Fore.GREEN)
findspark.init()
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
home_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True)
home_df.show()

logStep("STEP 1 - DONE=========================================");
end_time           = datetime.datetime.now()
step1_elapsed_time = end_time - start_time
logStep(F"STEP 1 - ELAPSED TIME: {step1_elapsed_time} seconds=========")

2023-09-04 03:05:55.717692 STEP 1 - READ SOURCE DATA=============================

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

2023-09-04 03:06:09.019377 STEP 1 - DONE=========================================
2023-09-04 03:06:09.026120 STEP 1 - ELAPSED TIME: 0:00:13.308183 seconds=========

Step 2 - Create a temporary view of the DataFrame.

In [5]:
#
# Step 2 - Create a temporary view of the DataFrame.
#

start_time         = datetime.datetime.now()
logStep("STEP 2 - CREATE A TEMPORARY VIEW======================")
print(Fore.GREEN)

home_df.createOrReplaceTempView('home_sales')

logStep("STEP 2 - DONE=========================================")
end_time           = datetime.datetime.now()
step2_elapsed_time = end_time - start_time
logStep(F"STEP 2 - ELAPSED TIME: {step2_elapsed_time} seconds=========")

2023-09-04 03:06:13.238143 STEP 2 - CREATE A TEMPORARY VIEW======================

2023-09-04 03:06:13.288527 STEP 2 - DONE=========================================
2023-09-04 03:06:13.289923 STEP 2 - ELAPSED TIME: 0:00:00.051701 seconds=========

Step 3 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?

In [6]:
#
# Step 3 - What is the average price for a four bedroom house sold in each year rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 3 - WHAT IS THE AVERAGE PRICE?=4BR===============")
print(Fore.GREEN)

spark.sql("SELECT YEAR(date)          as YEAR, \
                  ROUND(AVG(price),2) as AVERAGE \
             FROM home_sales WHERE bedrooms == 4 \
                  GROUP BY YEAR(date) \
                  ORDER BY YEAR(date) desc").show()

logStep("STEP 3 - DONE=========================================")
end_time           = datetime.datetime.now()
step3_elapsed_time = end_time - start_time
logStep(F"STEP 3 - ELAPSED TIME: {step3_elapsed_time} seconds=========")

2023-09-04 03:06:16.889844 STEP 3 - WHAT IS THE AVERAGE PRICE?=4BR===============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2022|296363.88|
|2021|301819.44|
|2020|298353.78|
|2019| 300263.7|
+----+---------+

2023-09-04 03:06:19.267095 STEP 3 - DONE=========================================
2023-09-04 03:06:19.268530 STEP 3 - ELAPSED TIME: 0:00:02.378606 seconds=========

Set 4 - What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

In [7]:
#
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 4 - WHAT IS THE AVERAGE PRICE?=3BR/3B============")
print(Fore.GREEN)

spark.sql("SELECT date_built as YEAR , \
                  ROUND(AVG(price),2) as AVERAGE  \
             FROM home_sales WHERE bedrooms == 3 AND \
                                   bathrooms == 3 \
                  GROUP BY date_built \
                  ORDER BY date_built desc").show()

end_time           = datetime.datetime.now()
logStep("STEP 4 - DONE=========================================")
step4_elapsed_time = end_time - start_time
logStep(F"STEP 4 - ELAPSED TIME: {step4_elapsed_time} seconds=========")

2023-09-04 03:06:23.105099 STEP 4 - WHAT IS THE AVERAGE PRICE?=3BR/3B============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|292676.79|
|2016|290555.07|
|2015| 288770.3|
|2014|290852.27|
|2013|295962.27|
|2012|293683.19|
|2011|291117.47|
|2010|292859.62|
+----+---------+

2023-09-04 03:06:23.753174 STEP 4 - DONE=========================================
2023-09-04 03:06:23.755434 STEP 4 - ELAPSED TIME: 0:00:00.648040 seconds=========

Step 5 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors, and are greater than or equal to 2,000 square feet rounded to two decimal places?

In [8]:
#
# Step 5 - What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
#

start_time         = datetime.datetime.now()
logStep("STEP 5 - WHAT IS THE AVERAGE PRICE?=3R/3/2============")
print(Fore.GREEN)

spark.sql("SELECT date_built as YEAR, \
           ROUND(AVG(price),2) as AVERAGE from home_sales \
           where bedrooms  == 3 AND \
                 bathrooms == 3 AND \
                    floors == 2 AND \
               sqft_living >= 2000 \
                 group by date_built \
                 order by date_built desc").show()

end_time           = datetime.datetime.now()
logStep("STEP 5 - DONE=========================================")
step5_elapsed_time = end_time - start_time
logStep(F"STEP 5 - ELAPSED TIME: {step5_elapsed_time} seconds=========")

2023-09-04 03:06:28.504590 STEP 5 - WHAT IS THE AVERAGE PRICE?=3R/3/2============

+----+---------+
|YEAR|  AVERAGE|
+----+---------+
|2017|280317.58|
|2016| 293965.1|
|2015|297609.97|
|2014|298264.72|
|2013|303676.79|
|2012|307539.97|
|2011|276553.81|
|2010|285010.22|
+----+---------+

2023-09-04 03:06:29.778376 STEP 5 - DONE=========================================
2023-09-04 03:06:29.785157 STEP 5 - ELAPSED TIME: 0:00:01.273759 seconds=========

Step 6 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.

In [9]:
#
# Ste 6 - What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.
#

start_time         = datetime.datetime.now()
logStep("STEP 6 - WHAT IS THE AVERAGE PRICE?=300K==============")
print(Fore.GREEN)

spark.sql("SELECT view as VIEW, \
                  ROUND(AVG(price),2) AS AVERAGE \
             FROM home_sales \
             GROUP BY view \
           HAVING ROUND(AVG(price),2) >= 350000 \
           ORDER BY view").show()

end_time           = datetime.datetime.now()
logStep("STEP 6 - DONE=========================================")
step6_elapsed_time = end_time - start_time
logStep(F"STEP 6 - ELAPSED TIME: {step6_elapsed_time} seconds=========")

2023-09-04 03:06:34.244271 STEP 6 - WHAT IS THE AVERAGE PRICE?=300K==============

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

2023-09-04 03:06:34.969393 STEP 6 - DONE=========================================
2023-09-04 03:06:34.975122 STEP 6 - ELAPSED TIME: 0:00:00.725098 seconds=========

Step 7 - Cache the the temporary table home_sales.

In [10]:
#
# Step 7 - Cache the the temporary table home_sales.
#

start_time         = datetime.datetime.now()
logStep("STEP 7 - CACHE HOME DATA==============================")
print(Fore.GREEN)

spark.sql("cache table home_sales")

end_time           = datetime.datetime.now()
logStep("STEP 7 - DONE=========================================")
step7_elapsed_time = end_time - start_time
logStep(F"STEP 7 - ELAPSED TIME: {step7_elapsed_time} seconds=========")

2023-09-04 03:06:40.091516 STEP 7 - CACHE HOME DATA==============================

2023-09-04 03:06:42.224384 STEP 7 - DONE=========================================
2023-09-04 03:06:42.236014 STEP 7 - ELAPSED TIME: 0:00:02.132835 seconds=========

Step 8 - Check if the table is cached.

In [11]:
#
# Step 8 - Check if the table is cached.
#

start_time         = datetime.datetime.now()
logStep("STEP 8 - IS THE DATA CACHED===========================")
print(Fore.GREEN)

if (spark.catalog.isCached('home_sales') == False):
    print("home_sales is not cached")
else:
    print("home_sales is cached")
print(Fore.GREEN)
end_time           = datetime.datetime.now()
logStep("STEP 8 - DONE=========================================")
step8_elapsed_time = end_time - start_time
logStep(F"STEP 8 - ELAPSED TIME: {step8_elapsed_time} seconds=========")

2023-09-04 03:06:44.169440 STEP 8 - IS THE DATA CACHED===========================

home_sales is cached

2023-09-04 03:06:44.192631 STEP 8 - DONE=========================================
2023-09-04 03:06:44.197540 STEP 8 - ELAPSED TIME: 0:00:00.023178 seconds=========

Step 9 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

In [12]:
#
# Step 9 - Using the cached data, run the query that filters out the view ratings with average price greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.
#

start_time         = datetime.datetime.now()
logStep("STEP 9 - REPEAT QUERY=================================")
print(Fore.GREEN)

spark.sql("SELECT view as VIEW, \
                  ROUND(AVG(price),2) AS AVERAGE \
             FROM home_sales \
             GROUP BY view \
           HAVING ROUND(AVG(price),2) >= 350000 \
           ORDER BY view").show()

end_time           = datetime.datetime.now()
logStep("STEP 9 - DONE=========================================")
step9_elapsed_time = end_time - start_time
logStep(F"STEP 9 - ELAPSED TIME: {step9_elapsed_time} seconds=========")

2023-09-04 03:06:47.226330 STEP 9 - REPEAT QUERY=================================

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

2023-09-04 03:06:47.638668 STEP 9 - DONE=========================================
2023-09-04 03:06:47.640969 STEP 9 - ELAPSED TIME: 0:00:00.412322 seconds=========

Step 9.1 - Determine the runtime and compare to the original runtime

In [13]:
#
# Step 9.1 Determine the runtime and compare to the original runtime
#

start_time         = datetime.datetime.now()
logStep("STEP 9.1 - RUNTIME DIFFERENCE =========================")
print(Fore.GREEN)

print(F"Time required for a non-cached Query: {step6_elapsed_time}")
print(F"Time required for a cached Query    : {step9_elapsed_time}")
time_difference = step6_elapsed_time - step9_elapsed_time
print(F"Time difference                     : {time_difference}")
end_time           = datetime.datetime.now()
print(Fore.GREEN)

logStep("STEP 9.1 - DONE========================================")
step91_elapsed_time = end_time - start_time
logStep(F"STEP 9.1 - ELAPSED TIME: {step91_elapsed_time} seconds========")

2023-09-04 03:06:51.128151 STEP 9.1 - RUNTIME DIFFERENCE =========================

Time required for a non-cached Query: 0:00:00.725098
Time required for a cached Query    : 0:00:00.412322
Time difference                     : 0:00:00.312776

2023-09-04 03:06:51.131891 STEP 9.1 - DONE========================================
2023-09-04 03:06:51.134178 STEP 9.1 - ELAPSED TIME: 0:00:00.003696 seconds========

Step 10 - Partition by the "date_built" field on the formatted parquet home sales data

In [14]:
#
# Step 10 - Partition by the "date_built" field on the formatted parquet home sales data
#

start_time         = datetime.datetime.now()
logStep("STEP 10 - FORMATTED PARQUET============================")
print(Fore.GREEN)
home_df.write.parquet('home_parquet', mode='overwrite',partitionBy='date_built')
home_df.show()


end_time           = datetime.datetime.now()
logStep("STEP 10 - DONE=========================================")
step10_elapsed_time = end_time - start_time
logStep(F"STEP 10 - ELAPSED TIME: {step10_elapsed_time} seconds=========")

2023-09-04 03:06:55.950875 STEP 10 - FORMATTED PARQUET============================

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

2023-09-04 03:06:58.022709 STEP 10 - DONE=========================================
2023-09-04 03:06:58.029080 STEP 10 - ELAPSED TIME: 0:00:02.071815 seconds=========

In [15]:
#
# Step 11 - Read the parquet formatted data.
#

start_time         = datetime.datetime.now()
logStep("STEP 11 - READ PARQUET=================================")
print(Fore.GREEN)

parquet_home_df = spark.read.parquet('home_parquet')
parquet_home_df.show()

end_time           = datetime.datetime.now()
logStep("STEP 11 - DONE=========================================")
step11_elapsed_time = end_time - start_time
logStep(F"STEP 11 - ELAPSED TIME: {step11_elapsed_time} seconds=========")

2023-09-04 03:07:01.740537 STEP 11 - READ PARQUET=================================

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

2023-09-04 03:07:02.210111 STEP 11 - DONE=========================================
2023-09-04 03:07:02.215916 STEP 11 - ELAPSED TIME: 0:00:00.469531 seconds=========

Step 12 - Create a temporary table for the parquet data.

In [16]:
#
# Step 12 - Create a temporary table for the parquet data.
#

start_time         = datetime.datetime.now()
logStep("STEP 12 - CREATE PARQUET VIEW==========================")
print(Fore.GREEN)

parquet_home_df.createOrReplaceTempView('parquet_temp_home')
parquet_home_df.show()

end_time           = datetime.datetime.now()
logStep("STEP 12 - DONE=========================================")
step12_elapsed_time = end_time - start_time
logStep(F"STEP 12 - ELAPSED TIME: {step12_elapsed_time} seconds=========")

2023-09-04 03:07:06.820829 STEP 12 - CREATE PARQUET VIEW==========================

+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710|       3|        3|       1918|    9666|     1|         0|  25|      2015|
|941bad30-eb49-4a7...|2020-05-09|229896|       3|        3|       2197|    8641|     1|         0|   3|      2015|
|c797ca12-52cd-4b1...|2019-06-08|288650|       2|        3|       2100|   10419|     2|         0|   7|      2015|
|0cfe57f3-28c2-472...|2019-10-04|308313|       3|        3|       1960|    9453|     2|         0|   2|      2015|
|d715f295-2fbf-4e9...|2021-05-17|391574|       3|        2|       1635|    8040|     2|         0|  10|      2015|
|a18515a2-86f3-46b...|2022-02-18|419543|       3|        2|       1642|   12826|     2|         0|  24|      2015|
|98f6a9ad-8870-474...|2022-05-07|136752|       2|        3|       1701|   10771|     2|         0|   5|      2015|
|7ac67498-b6f3-403...|2021-05-12|349318|       4|        3|       2417|   11304|     2|         0|  37|      2015|
|c9bfdb1c-2499-4e3...|2021-12-07|268874|       2|        2|       1537|   12177|     1|         0|  10|      2015|
|34c31a34-220d-469...|2019-02-06|409011|       3|        3|       2356|   10507|     1|         0|   1|      2015|
|be0ccb95-415d-411...|2020-05-15|425154|       4|        3|       2120|   14229|     2|         0|   4|      2015|
|e9031a86-1294-444...|2021-10-09|222322|       4|        3|       1928|   10510|     1|         0|  38|      2015|
|e6d7c2a7-596e-4ec...|2019-03-15|131201|       4|        3|       1633|   14655|     1|         0|  22|      2015|
|6683714b-3df7-454...|2022-02-01|333403|       4|        2|       2059|    9793|     2|         0|   4|      2015|
|00fc996f-508c-430...|2021-07-15|373139|       3|        3|       1763|   11363|     1|         0|  39|      2015|
|3d5545f8-bd3b-476...|2020-09-19|797862|       4|        6|       3494|   10385|     2|         0|  90|      2015|
|ec6d357c-2435-43e...|2019-05-28|401792|       3|        2|       1627|   10765|     1|         0|  50|      2015|
|c2be38fb-814a-403...|2020-03-20|352237|       3|        3|       2485|   10954|     2|         0|   6|      2015|
|9570de1f-5a74-45b...|2021-11-29|298453|       3|        2|       2222|   10634|     1|         0|   6|      2015|
|1baeff4f-fc00-489...|2020-12-17|152775|       3|        2|       1623|   13851|     1|         0|  41|      2015|
+--------------------+----------+------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

2023-09-04 03:07:07.019202 STEP 12 - DONE=========================================
2023-09-04 03:07:07.021076 STEP 12 - ELAPSED TIME: 0:00:00.198306 seconds=========

Step 13 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places

In [17]:
#
# Step 13 - Run the query that filters out the view ratings with average price of greater than or equal to $350,000 with the parquet DataFrame. Round your average to two decimal places.
#

start_time         = datetime.datetime.now()
logStep("STEP 13 - REPEAT QUERY=================================")
print(Fore.GREEN)

spark.sql("SELECT view as VIEW, \
                  ROUND(AVG(price),2) AS AVERAGE \
             FROM parquet_temp_home \
             GROUP BY view \
           HAVING ROUND(AVG(price),2) >= 350000 \
           ORDER BY view").show()

end_time           = datetime.datetime.now()
logStep("STEP 13 - DONE=========================================")
step13_elapsed_time = end_time - start_time
logStep(F"STEP 13 - ELAPSED TIME: {step13_elapsed_time} seconds=========")

2023-09-04 03:07:10.357381 STEP 13 - REPEAT QUERY=================================

+----+---------+
|VIEW|  AVERAGE|
+----+---------+
| 100|1026669.5|
|  51|788128.21|
|  52|733780.26|
|  53| 755214.8|
|  54|798684.82|
|  55|771153.32|
|  56| 718176.4|
|  57| 734340.5|
|  58|759764.65|
|  59| 791453.0|
|  60|754939.65|
|  61|746877.59|
|  62|759150.14|
|  63|711614.55|
|  64|767036.67|
|  65|736679.93|
|  66| 712475.0|
|  67|737970.96|
|  68|716785.44|
|  69|750537.94|
+----+---------+
only showing top 20 rows

2023-09-04 03:07:10.868643 STEP 13 - DONE=========================================
2023-09-04 03:07:10.874190 STEP 13 - ELAPSED TIME: 0:00:00.511225 seconds=========

In [18]:
#
# Step 13.1 - Determine the runtime and compare it to the cached version.
#

start_time         = datetime.datetime.now()
logStep("STEP 13.1 - RUNTIME DIFFERENCE ========================")
print(Fore.GREEN)
print(F"Time required for a non-cached Query    : {step6_elapsed_time}")
print(F"Time required for a parquet cached Query: {step13_elapsed_time}")
time_difference = step6_elapsed_time - step13_elapsed_time
print(F"Time difference                         : {time_difference}")
print(Fore.GREEN)
end_time           = datetime.datetime.now()
logStep("STEP 13.1 - DONE=======================================")
step131_elapsed_time = end_time - start_time
logStep(F"STEP 13.1 - ELAPSED TIME: {step131_elapsed_time} seconds=======")

2023-09-04 03:07:14.857425 STEP 13.1 - RUNTIME DIFFERENCE ========================

Time required for a non-cached Query    : 0:00:00.725098
Time required for a parquet cached Query: 0:00:00.511225
Time difference                         : 0:00:00.213873

2023-09-04 03:07:14.859467 STEP 13.1 - DONE=======================================
2023-09-04 03:07:14.864400 STEP 13.1 - ELAPSED TIME: 0:00:00.002044 seconds=======

In [19]:
#
# 14. Un-cache the home_sales temporary table.
#

start_time         = datetime.datetime.now()
logStep("STEP 14 - UN-CACHE=====================================")
print(Fore.GREEN)

spark.sql("uncache table home_sales")

end_time           = datetime.datetime.now()
logStep("STEP 14 - DONE=========================================")
step14_elapsed_time = end_time - start_time
logStep(F"STEP 14 - ELAPSED TIME: {step14_elapsed_time} seconds=========")

2023-09-04 03:07:25.612105 STEP 14 - UN-CACHE=====================================

2023-09-04 03:07:25.658234 STEP 14 - DONE=========================================
2023-09-04 03:07:25.661242 STEP 14 - ELAPSED TIME: 0:00:00.046097 seconds=========

In [20]:
#
# Step 15. Check if the home_sales is no longer cached
#
start_time         = datetime.datetime.now()
logStep("STEP 15 - CACHE= CHECK=================================")
print(Fore.GREEN)

if (spark.catalog.isCached('home_sales') == False):
    print("home_sales is not cached")
else:
    print("home_sales is cached")
print(Fore.GREEN)

end_time           = datetime.datetime.now()
logStep("STEP 15 - DONE=========================================")
step15_elapsed_time = end_time - start_time
logStep(F"STEP 15 - ELAPSED TIME: {step15_elapsed_time} seconds=========")

2023-09-04 03:07:27.494549 STEP 15 - CACHE= CHECK=================================

home_sales is not cached

2023-09-04 03:07:27.518418 STEP 15 - DONE=========================================
2023-09-04 03:07:27.520610 STEP 15 - ELAPSED TIME: 0:00:00.023891 seconds=========

In [21]:
logStep("=========TOTAL RUN TIME================================")
print(Fore.GREEN)
print('Total Runtime, per Step')
print('')
print(F"Step  0:   {step0_elapsed_time} seconds")
print(F"Step  1:   {step1_elapsed_time} seconds")
print(F"Step  2:   {step2_elapsed_time} seconds")
print(F"Step  3:   {step3_elapsed_time} seconds")
print(F"Step  4:   {step4_elapsed_time} seconds")
print(F"Step  5:   {step5_elapsed_time} seconds")
print(F"{Fore.RED}Step  6:   {step6_elapsed_time} seconds - non-cached query{Fore.GREEN}")
print(F"{Fore.GREEN}Step  7:   {step7_elapsed_time} seconds")
print(F"Step  8:   {step8_elapsed_time} seconds")
print(F"{Fore.RED}Step  9:   {step9_elapsed_time} seconds - cached query")
print(F"{Fore.GREEN}Step  9.1: {step91_elapsed_time} seconds")
print(F"Step 10:   {step10_elapsed_time} seconds")
print(F"Step 11:   {step11_elapsed_time} seconds")
print(F"Step 12:   {step12_elapsed_time} seconds")
print(F"{Fore.RED}Step 13:   {step13_elapsed_time} seconds - parquet cached query")
print(F"{Fore.GREEN}Step 13.1: {step131_elapsed_time} seconds")
print(F"Step 14:   {step14_elapsed_time} seconds")
print(F"Step 15:   {step15_elapsed_time} seconds")
print(F"{Fore.YELLOW}Total  :   {step0_elapsed_time + step1_elapsed_time + step2_elapsed_time + step3_elapsed_time + step4_elapsed_time + step5_elapsed_time + step6_elapsed_time + step7_elapsed_time + step8_elapsed_time + step9_elapsed_time + step91_elapsed_time + step10_elapsed_time + step11_elapsed_time + step12_elapsed_time + step13_elapsed_time + step131_elapsed_time + step14_elapsed_time + step15_elapsed_time} seconds")
print('')
print(Fore.GREEN + 'Runtime Reduction')
print('')
print(F'{Fore.RED}Cached Query Reduction  : {100-(step9_elapsed_time/step6_elapsed_time*100):.2f}%')
print(F'Parquet Query Reduction : {100-(step13_elapsed_time/step6_elapsed_time*100):.2f}%')
print('')
logStep("=========END============================================")

2023-09-04 03:07:30.250867 =========TOTAL RUN TIME================================

Total Runtime, per Step

Step  0:   0:00:00.058191 seconds
Step  1:   0:00:13.308183 seconds
Step  2:   0:00:00.051701 seconds
Step  3:   0:00:02.378606 seconds
Step  4:   0:00:00.648040 seconds
Step  5:   0:00:01.273759 seconds
Step  6:   0:00:00.725098 seconds - non-cached query
Step  7:   0:00:02.132835 seconds
Step  8:   0:00:00.023178 seconds
Step  9:   0:00:00.412322 seconds - cached query
Step  9.1: 0:00:00.003696 seconds
Step 10:   0:00:02.071815 seconds
Step 11:   0:00:00.469531 seconds
Step 12:   0:00:00.198306 seconds
Step 13:   0:00:00.511225 seconds - parquet cached query
Step 13.1: 0:00:00.002044 seconds
Step 14:   0:00:00.046097 seconds
Step 15:   0:00:00.023891 seconds
Total  :   0:00:24.338518 seconds

Runtime Reduction

Cached Query Reduction  : 43.14%
Parquet Query Reduction : 29.50%

2023-09-04 03:07:30.268366 =========END============================================